@import "src/scss/mixin/mixin.scss";

.main{
  margin-left: 270px;

  &Nav{
    border: 1px solid #E4E7EB;
    display: flex;
    flex-direction: row;
    padding-left: 20px;

    &Name{
      @include fontMenu(#3A3B3F, 16px);
      margin: 0 15px;
      line-height: 3;
      text-decoration: none;
      position: relative;


      &:after{
        position: absolute;
        left:0;
        bottom:0;
        background-color: #1665D8;
        display: block;
            content: "";
        height: 2px;
        width: 0%;
        transition: width .3s ease-in-out;
      }
      &:hover:after{
        width: 100%;
      }
    }
  }

  &Page{
    display: flex;
    flex-direction: row;

    &User{
      background-color: white;

      display: flex;
      flex-direction: column;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
      border-radius: 2%;
      margin: 30px;
      max-height: 250px;

      width: 32vw;

      &Info{
        //margin: 25px;

        &Personal{
          display: flex;
          padding: 25px;

          border-bottom: 1px solid #E4E7EB;//#E4E7EB;

          &Text{
            &Name{
              @include fontMenu(#212529, 24px);
              font-weight: 500;
            }

            &Place{
              margin-top: 15px;
              @include fontMenu(#9EA0A5, 14px);
            }

            &Time{
              @include fontMenu(#9EA0A5, 14px);
            }

          }
          &Img{
            margin-left: 40px;
          }
        }
        &Button{
          display: flex;
          justify-content: space-around;
          &Text{
            @include fontMenu(#425A70, 12px);
            text-transform: uppercase;
            text-decoration: none;
            font-weight: 500;
            letter-spacing: 1.25px;
            margin: 22px 0;
            &:hover{
              color: #1665D8;
            }
          }
        }
      }
    }
    &Form{
      margin-top: 30px;
      margin-right: 30px;
      width: 60vw;
      &Profile{
        background-color: white;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
        border-radius: 2%;
        padding-bottom: 25px;
        //padding-top: 25px;
        &Head{
          display: flex;
          justify-content: flex-start;
          align-items: center;
          padding-left: 25px;
          padding-bottom: 25px;
          border-bottom: 1px solid #E4E7EB;
          padding-top: 25px;
          &Text{
            @include fontMenu(#3A3B3F, 16px);

            &:last-child{
              @include fontMenu(#66788A, 14px);
              font-weight: 300;
              margin-left: 16px;
            }
          }
        }
        &Body{
          margin-top: 33px;
          //padding-bottom: 24px;
          margin-bottom: 25px;
          display: flex;
          flex-wrap: wrap;
          border-bottom: 1px solid #E4E7EB;

          &Input{
            border-radius: 5px;
            border-color: #E4E7EB;
            border-style: solid;
            outline-color: #1665D8;
            padding: 16px 120px 16px 16px;
            margin: 24px 0px;
            margin-left: 24px;
          }
        }
        &Foot{
          color: white;
          background: #1665D8;

          margin-left: 24px;
          padding: 12px 16px;
          border-radius: 5px;
          box-shadow: 0px 5px 8px 0px rgba(34, 60, 80, 0.2);
          text-transform: uppercase;
          text-decoration: none;

        }
      }

      &Notif{
        margin-top: 25px;
        background: white;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
        border-radius: 2%;
        padding-bottom: 30px;
        &Head{
          display: flex;
          justify-content: flex-start;
          align-items: center;
          padding-left: 25px;
          padding-bottom: 25px;
          border-bottom: 1px solid #E4E7EB;
          padding-top: 25px;
          &Text{
            @include fontMenu(#3A3B3F, 16px);

            &:last-child{
              @include fontMenu(#66788A, 14px);
              font-weight: 300;
              margin-left: 16px;
            }
          }
        }

        &Body{
          display: flex;
          border-bottom: 1px solid #E4E7EB;
          margin-bottom: 25px;
          &Notify{
            display: flex;
            flex-direction: column;
            margin: 25px;

            &Data{
              margin-top: 20px;

            }

            &Text{
              @include fontMenu( #3A3B3F, 16px);
              font-weight: 500;
            }

          }

          &Mess{
            display: flex;
            flex-direction: column;
            margin: 25px;
            margin-left: 60px;


            &Data{
              margin-top: 20px;
            }

            &Text{
              @include fontMenu( #3A3B3F, 16px);
              font-weight: 500;
            }
          }
          label{
            margin-left: 10px;
            @include fontMenu( rgba(0, 0, 0, 0.6), 16px);
          }
        }
        &Save{
          background: white;
          @include fontMenu(#1665D8, 14px);
          margin-left: 24px;
          padding: 12px 16px;
          border-radius: 5px;
          box-shadow: 0px 5px 8px 0px rgba(34, 60, 80, 0.2);
          text-transform: uppercase;
          text-decoration: none;
        }
      }
    }
  }
}
